@media (max-width: 1024px) {
  .alert {
    font-size: 20px;
  }
  .container {
    width: 900px;
  }
  .header .menu {
    width: 400px;
  }
  .select-menu {
    width: 400px;
  }
  .content-header .header-child {
    width: 400px;
  }
  .row {
    width: 400px;
    font-size: 18px;
  }
  .footer-container .hesabla {
    width: 400px;
  }
  .result {
    width: 390px;
  }
}
@media (max-width: 915px) {
  .alert {
    font-size: 16px;
  }
  .container {
    width: 600px;
  }
  .header .basliq {
    font-size: 29px;
  }
  .header .menu {
    width: 260px;
  }
  .select-menu {
    width: 260px;
  }
  .menu-container {
    font-size: 20px;
  }
  .content-header .header-child {
    font-size: 20px;
    width: 260px;
    font-weight: 600;
  }
  .row {
    width: 260px;
    font-size: 12px;
    font-weight: 600;
  }
  .row input {
    width: 50%;
  }
  .footer-container .hesabla {
    width: 260px;
    font-size: 20px;
    font-weight: 600;
  }
  .result {
    width: 250px;
    font-size: 20px;
    font-weight: 600;
  }
}
@media (max-width: 620px) {
  .alert {
    font-size: 12px;
  }
  .container {
    width: 400px;
  }
  .header .basliq {
    font-size: 20px;
    font-weight: 600;
  }
  .header .menu {
    width: 160px;
  }
  .select-menu {
    width: 160px;
  }
  .select-menu label {
    font-size: 14px;
  }
  .menu-container {
    font-size: 14px;
  }
  .content-header .header-child {
    font-size: 20px;
    width: 160px;
    font-weight: 600;
  }
  .row {
    width: 160px;
    font-size: 11px;
    font-weight: 600;
  }
  .row input {
    width: 35%;
  }
  .footer-container .hesabla {
    width: 160px;
    font-size: 14px;
    font-weight: 600;
  }
  .result {
    width: 150px;
    font-size: 14px;
    font-weight: 600;
  }
}
@media (max-width: 415px) {
  .alert {
    padding: 15px 20px;
    font-size: 12px;
  }
  .container {
    width: 360px;
  }
  .header .basliq {
    font-size: 16px;
    font-weight: 600;
  }
  .header .menu {
    width: 140px;
  }
  .select-menu {
    width: 140px;
  }
  .select-menu label {
    font-size: 12px;
  }
  .menu-container {
    width: calc(100% - 38px);
    font-size: 12px;
  }
  .icon1 {
    width: 5px;
    height: 5px;
  }
  .content-header .header-child {
    font-size: 14px;
    width: 140px;
    font-weight: 600;
  }
  .row {
    width: 140px;
    font-size: 10px;
    font-weight: 600;
  }
  .row input {
    width: 30%;
  }
  .footer-container .hesabla {
    width: 140px;
    font-size: 12px;
    font-weight: 600;
  }
  .result {
    width: 120px;
    font-size: 12px;
    font-weight: 600;
  }
}
